.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2rem;
    text-align: start;

    div {
        display: flex;
        flex-direction: column;
    }

    h4 {
        font-size: 1.3rem;
        padding: 1rem 0 .8rem;
    }

    p {
        color: #fafafa;
        font-size: 1.1rem;
        padding-bottom: .4rem;
        text-decoration: none;
    }
}